* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
.inventory-table {
  width: 50%;
  border-collapse: collapse;
  margin: 2rem;
  font-size: 1rem;
  max-width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.inventory-table thead tr {
  background-color: var(--yellow);
  color: var(--white);
  text-align: left;
  font-weight: bold;
}

.inventory-table th,
.inventory-table td {
  padding: 12px 15px;
}
.inventory-table tbody tr {
  border-top: 1px solid var(--light-grey);
}

.inventory-table tbody tr:last-of-type {
  border-bottom: 1px solid var(--yellow);
}
tbody tr {
  color: var(--black);
}
@media all and (max-width: 760px) {
  .inventory-table {
    width: 70%;
  }
  .body-effect {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.inventory-table img {
  min-width: 30px;
  max-width: 30px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* editable */
/* .inventory-table tbody tr:active {
  font-weight: bold;
  color: var(--yellow);
} */
