.shop-container {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.category-side {
  width: 35%;
  min-width: 15rem;
  top: 0;
  position: sticky;
  height: 100vh;
}
.products-side {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 30px;
  width: 100%;
}

.search-container {
  width: 50%;
}

.search-input {
  width: 100%;
  float: right;
  padding: 12px 0;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: var(--ship-grey);
  background-color: transparent;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid var(--brown);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

::placeholder {
  padding-left: 1rem;
  color: color(var(--ship-grey) a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-input:hover,
.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--brown);
  border-radius: 0;
  background-position: 100% center;
}
/* .products-side div {
  border: 1px solid blue;
} */
.shop-container .category-side,
.products-side {
  /* border: 1px solid yellow; */
  padding: 1rem;
}
.shop-container h1 {
  color: var(--brown);
  font-weight: bold;
}

.category-side ul li {
  border-bottom: 1px solid var(--light-grey);
  padding: 1rem;
  font-weight: bold;
}
.category-side h1 {
  border-bottom: 1px solid var(--light-grey);
}
.category-side ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-tile {
  display: flex;
  justify-content: space-between;
}

.grid-div {
  /* border: 1px solid var(--brown);
  border-radius: 1rem; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: fit-content;
}
.grid-div .name {
  /* min-width: 130px;
  width: 100%; */
  overflow-wrap: break-word;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1rem;
  height: fit-content;
  margin: 0 1rem;
}
.products-grid p {
  font-size: 12px;
  color: var(--black);
  overflow-wrap: break-word;
}
.products-grid img {
  border: 1px solid var(--brown);
  border-radius: 0.75rem;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  transition-duration: 0.3s;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.products-grid img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.detail-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  /* width: auto; */
  /* height: auto; */
  max-width: 700px;
  min-width: 470px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.popup-content img {
  min-width: 200px;
}
.price-popup {
  color: var(--black);
}
/* .imgdiv {
  border: 1px solid black;
} */
.product-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-left: 1rem; */
  width: 100%;
  /* border: 1px solid green; */
}
.popup-content img:hover {
  transform: none;
  cursor: default;
}

.popup-content button {
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 0.5rem;
  width: 50%;
  height: 2rem;
  font-weight: bold;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-top: auto;
}
.popup-content button:active {
  transform: translateY(4px);
}
.show-detail-popup {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.all-items {
  width: 100%;
}
#category-header {
  color: var(--black);
}
@media all and (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .products-grid div {
    gap: 0.5rem;
  }
  .grid-div {
    min-height: 205px;
    justify-content: space-between;
  }
}
.popup-content {
  min-width: 470px;
}
@media all and (min-width: 760px) {
  .category-side h1 div {
    display: none;
  }
}
@media all and (max-width: 760px) {
  h1 {
    font-size: 15px;
  }
  p {
    font-size: 11px;
  }
  .products-grid div {
    gap: 0.5rem;
  }
  .products-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 0.5rem;
  }
  .category-side {
    position: unset;
    height: fit-content;
    width: 100%;
    /* border: 1px solid red; */
  }

  .category-side h1 {
    /* border: none; */
    cursor: pointer;
    border-radius: 0.5rem;
    /* border: none; */
    background-color: var(--yellow);
    padding: 0.5rem;
    width: fit-content;
  }
  .category-side h1 span {
    display: none;
  }
  /* .category-side h1:hover span {
    display: none;
  }
  .category-side h1:hover:before {
    content: "FILTER";
  } */
  .category-side ul {
    display: none;
  }

  .shop-container {
    flex-direction: column;
  }
  .products-grid img:hover {
    transform: none;
  }

  .popup-content {
    flex-direction: column;
    max-width: 50%;
    min-width: 250px;
  }
  .popup-content img {
    min-width: 100%;
  }
}
