.account-container {
  padding: 25px 25px 0;
  display: flex;
  justify-content: space-around;
}

.acc-form {
  display: flex;
  flex-direction: column;
}

.acc-maintext {
  font-size: 4rem;
}

.acc-subtext {
  font-size: 1rem;
}

.acc-label {
  color: #764b17;
}

.block-input {
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
}

#input-group {
  border-radius: 5px;
  background-color: #c9c2b8;
  border: none;
  border-bottom: 2px solid #764b17;
}

::placeholder {
  padding-left: 5px;
}

.button-content {
  padding: 10px 0;
  align-self: flex-start;
}
.btn-arrow {
  background-color: #f9e805;
  border: none;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  font-size: 2rem;
}

@media all and (max-width: 760px) {
}
