.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .container div {
  border: 1px solid black;
} */
.acc-form {
  width: 25%;
  font-size: 1.5rem;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* border: 1px solid black; */
}
.acc-form form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.block-input {
  width: 100%;
}
.acc-maintext {
  font-size: 5.5vw;
}

.acc-subtext {
  font-size: 1.8vw;
}

.acc-label {
  color: var(--brown);
}
.acc-label b {
  font-size: 1.3rem;
}

.block-input {
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
  /* float: right; */
}

.input-group {
  border-radius: 5px;
  background-color: var(--stark-white);
  border: none;
  border-bottom: 2px solid var(--brown);
  height: 1.8rem;
}

::placeholder {
  padding-left: 5px;
}

#message {
  font-size: 14px;
  margin: 15px 0;
  display: inline-block;
  color: var(--specific-white);
  padding: 0.1rem 0;
  justify-self: center;
  align-self: center;
}

.btn-arrow-content {
  padding: 10px 0;
  cursor: pointer;
  width: fit-content;
  /* border: 1px solid black; */
}
.btn-arrow {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 1.2rem;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-arrow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-arrow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-arrow:hover span {
  padding-right: 25px;
}

.btn-arrow:hover span:after {
  opacity: 1;
  right: 0;
}

.sub-createAcc {
  font-size: 0.7rem;
  /* border: 1px solid black; */
  display: flex;
  /* align-self: left; */
}
.sub-createAcc u:hover {
  color: var(--brown);
}
@media all and (max-width: 1000px) {
  .block-input {
    width: 100%;
  }
  .acc-label b {
    font-size: 1rem;
  }
}

@media all and (max-width: 760px) {
  .acc-form {
    width: 50%;
  }
  .acc-subtext {
    display: none;
  }
  .container {
    flex-direction: column;
    gap: 1rem;
  }
  .block-input {
    width: 100%;
  }
}
