* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #eaeded;
  min-height: 100vh;
}

p {
  font-weight: 100;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  display: block;
}
.logo-img {
  width: 78px;
  height: 116px;
}
.social-media-icons img {
  width: 38px;
  height: 38px;
}
.burger-menu-btn {
  width: 25px;
  height: 25px;
}

.a-burger-menu-btn {
  display: none;
}
.fa-shopping-cart {
  padding-top: 3px;
  /*padding-right: 8px;*/
}

header {
  border: 1px solid red;
  background-color: #eaeded;
  /* height: fit-content; */
}
.header-items {
  /*padding-top: 10px;*/
  padding: 25px 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .header-items .left-nav-btns {
  background-image: url(./images/logo.png);
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
} */
.right-nav-btns,
.left-nav-btns {
  display: flex;
  gap: 40px;
}

header a {
  font-weight: bold;
  color: black;
}
.container {
  border: 1px solid blue;
}

.body-desktop-img {
  display: unset;
  max-width: 100%;
  height: auto;
  display: table;
  margin: 0 auto;
}

.body-mobile-img {
  display: none;
}

footer {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #111;
  /* height: auto; */

  padding: 30px 0;
  color: #fff;
}
footer a {
  color: #fff;
}
.footer-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.footer-copyright {
  text-align: center;
}

@media all and (max-width: 710px) {
  body {
    height: 100vh;
  }
  .left-nav-btns a,
  .right-nav-btns a {
    visibility: hidden;
  }
  .a-burger-menu-btn {
    display: unset;
  }

  .body-desktop-img {
    display: none;
  }

  .footer-texts {
    flex-direction: column;
    align-items: center;
  }

  .body-mobile-img {
    display: unset;
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
  }
}
