* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 200px;
}

p {
  font-weight: 100;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}
.logo-img {
  width: 78px;
  height: 93px;
}
.social-media-icons img {
  width: 38px;
  height: 38px;
}
.burger-menu-btn {
  width: 25px;
  height: 25px;
  visibility: hidden;
}
.fa-shopping-cart {
  padding-top: 3px;
}

header {
  border: 1px solid red;
  width: 100vw;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-nav-btns,
.left-nav-btns {
  display: flex;
  gap: 40px;
}

header a {
  font-weight: bold;
  color: black;
}
container {
  width: 100%;
}
.body-img {
  margin: auto;
  display: block;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #111;
  height: auto;
  width: 100vw;
  padding: 30px 0;
  color: #fff;
}
footer a {
  color: #fff;
}
.footer-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.footer-copyright {
  text-align: center;
}
/* Hi weekend !!!!*/
